/*--------------------------------------------------------------
2.0 - Elements
--------------------------------------------------------------*/

html {
	background: black url($background) bottom center;
	background-size: cover;
}

a {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
}

button {
	padding: 3px 8px;
}

code,
pre,
style,
textarea,
input {
	margin: 0;
	padding: 0;
	border: 1px solid rgba(0,0,0,0.5);
	background: rgba(0,0,0,.4);
}

code {
	padding: 2px 4px;
	border-radius: 3px;
	vertical-align: middle;
}

pre,
style,
textarea {
	overflow: auto;
	max-width: 100%;
	padding: 10px;
}

pre > code {
	padding: 0;
	border: 0;
	background: 0;
	box-shadow: none;
	white-space: pre;
}

textarea {
	box-sizing: border-box;
	width: 100%;
}

blockquote:before {
	margin: 0 15px 0 0;
}

blockquote {
	margin: 24px 0;
	padding: 14px;
	border-left: 10px solid $color-pink;
}

blockquote p {
	display: inline;
}

cite {
	display: block;
	float: right;
	margin: 5px 0 0;
}

dt,
dl {
	display: inline;
}
