/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/

html {
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	opacity: 0; /* Set opacity to zero so we can create fade in effect */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */

	&.wf-active {
		-webkit-transition: .5s ease-in;
		-moz-transition:    .5s ease-in;
		-o-transition:      .5s ease-in;
		transition:         .5s ease-in; /* Using webfont.js, we'll fade in page after all fonts have loaded */
		opacity: 1;
	}
}

*,
*:before,
*:after {
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box; /* Apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-spacing: 0; /* Tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
}

caption,
th,
td {
	text-align: left;
	font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a {

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	img {
		border: 0;
	}
}

/* pace */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

	.pace-activity {
		display: block;
		position: fixed;
		z-index: 2000;
		top: 0;
		right: 0;
		width: 300px;
		height: 300px;
		background: $color-pink;
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
		-webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
		transform: translateX(100%) translateY(-100%) rotate(45deg);
		pointer-events: none;
	}

	&.pace-active .pace-activity {
	  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
	  transform: translateX(50%) translateY(-50%) rotate(45deg);
	}

	.pace-activity::before,
	.pace-activity::after {
		position: absolute;
		bottom: 30px;
		left: 50%;
		display: block;
		border: 5px solid #fff;
		border-radius: 50%;
		content: '';
	}

	.pace-activity::before {
		margin-left: -40px;
		width: 80px;
		height: 80px;
		border-right-color: rgba(0, 0, 0, .2);
		border-left-color: rgba(0, 0, 0, .2);
		-webkit-animation: pace-rotation 3s linear infinite;
		animation: pace-rotation 3s linear infinite;
	}

	.pace-activity::after {
		bottom: 50px;
		margin-left: -20px;
		width: 40px;
		height: 40px;
		border-top-color: rgba(0, 0, 0, .2);
		border-bottom-color: rgba(0, 0, 0, .2);
		-webkit-animation: pace-rotation 1s linear infinite;
		animation: pace-rotation 1s linear infinite;
	}


	@-webkit-keyframes pace-rotation {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(359deg); }
	}
	@keyframes pace-rotation {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(359deg); }
	}

}
