/*--------------------------------------------------------------
5.0 - Typography
--------------------------------------------------------------*/

.pink {
	//color: #ff0000;
	color: #bada55;
}

/* defaults */
body {
	@include rem(font-size, 16px);
	font-family: $font-sans;
	line-height: 1.6;
}

h1 {
	text-align: center;
	text-shadow: rgba(255,255,255,0.9);
	font-size: 10vw;
}

h2 {
	font-weight: 300;
	font-size: 5vw;
}

.slide p.small,
p.small,
.small {
	font-size: 1vw;
}

a:hover {
	text-shadow: 0 0 8px white, 0 0 16px white;
}

blockquote:before {
	color: $color-pink;
	content: "\f10d";
	font-size: 3vw;
	font-family: fontAwesome;
}

blockquote {
	quotes: "\f10d""\201D""\2018""\2019";
}

cite {
	color: #999;
}

cite:before {
	content: "\2014 \2009";
}

blockquote,
blockquote p {
	font-style: italic;
	font-size: 2vw;
}

select {
	color: black;
}

code,
pre,
style,
textarea,
input {
	font-size: 1.5vw;
	word-wrap: break-word;
	font-family: $font-mono;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;

		strong {
			color: $color-pink;
			text-shadow: 0 0 1px black;
		}
}

code {
	white-space: nowrap;
}

strong,
b {
	font-weight: 700;
}

dt {
	color: #fd90ac;
}

dl {
	color: $color-pink;
}

#intro {
	.attribution {
		font-size: 3vw;
		color: rgba(255, 255, 255, .6);
		text-align: center;
		text-shadow: none;
		font-weight: 700;
	}
}

#indicator {
	color: black;
	text-align: center;
	text-shadow: 1px 1px 2px white;
	font-weight: 700;
	font-size: 8px;
}

/* slide */
.slide {
	font-size: 3vw;
	color: white;
	text-shadow: 1px 1px 2px rgba(0,0,0,.4);

	li li {
		font-size: 1.5vw;
	}

	> ul > li:before,
	li li:before {
		color: $color-pink;
		content: '\f0a4';
		font-family: FontAwesome;
	}

	p,
	li {
		font-weight: 700;
		font-size: 2vw;
	}

	> ul {
		list-style: none;
	}

	.emphasis {
		color: white;
		text-shadow: 1px 1px 2px rgba(0,0,0,.4);
		letter-spacing: -1px;
		font-weight: 700;
		line-height: .85;

			&:before {
				@include rem(font-size, 20px);
				color: rgba(255,255,255,.5);
				content: '\279C';
				text-align: center;
				text-shadow: none;
				line-height: 0;
			}
		}
}

.attribution {
	font-size: 1vw;
	color: white;
	text-shadow: 1px 1px 2px black;

	a {
		text-decoration: none;

		&::after {
			content: ' (' attr(href) ')';
		}
	}
}

button.onscreen-nav {
	color: white;
	text-transform: uppercase;
	text-shadow: 0 -1px 1px black;
}

/* iframe slides */
.iframe.slide {
	text-align: center;

	> h1 {
			font-size: 1.8vw;
	}

	> h1 > a {
		color: white;
		text-align: center;
		text-decoration: none;
		text-shadow: 0  1px 1px black;
	}
}

/* show thumbnails */
.show-thumbnails {

	.slide[data-title]:after {
		font-size: 4vw;
		color: white;
		content: attr(data-title);
		text-align: center;
		text-shadow: 1px 1px 2px black;
	}
}

/* timer */
#timer {
	text-align: right;
	line-height: 8px;

		&:before {
			font-size: 0.5vw;
			color: rgba(255,255,255,0.6);
			text-transform: uppercase;
		}
}

/* presenter notes */
.presenter-notes {
	font-size: 0.5vw;
	color: black;
	text-shadow: 0 1px white;
	font-weight: 300;
	line-height: 1.3;
}

/* Syntax highlighting */
.comment {
	color: #999;
}

.string {
	color: yellow;
}

.keyword {
	color: deeppink;
	font-weight: 700;
}

.number,
.boolean {
	color: #0cf;
}

.regex {
	color: orange;
}
