// Fonts
$font-sans:               "Open Sans", sans-serif;
$font-serif:              Georgia, Times, "Times New Roman", serif;
$font-mono:               Consolas, "Liberation Mono", Courier, monospace;

// Images
$background:              image-url('background.jpg', true, false);
$logo:                    image-url('logo.svg', true, false);

// Colors
$color-pink:              #cc6699;
