@layer base {
  a {
    @apply underline;

    &:hover {
      @apply no-underline;
    }
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }
}

html,
body {
  @apply dark:bg-black dark:text-white;
}

.grid {
  display: grid;
  gap: 10px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
  }
}
