/**
 * Global styles.
 */
@font-face {
  font-family: 'Comic Neue';
  src: url(/fonts/ComicNeue-Regular.woff2);
}

@font-face {
  font-family: 'Dancing Script';
  src: url(/fonts/DancingScript-Regular.woff2);
}

@font-face {
  font-family: 'Open Dyslexic';
  src: url(/fonts/OpenDyslexic-Regular.woff2);
}

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Regular.woff2);
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(/fonts/RobotoMono-Regular.woff2);
}

@font-face {
  font-family: 'Roboto Slab';
  src: url(/fonts/RobotoSlab-Regular.woff2);
}

body {
  @apply dark:bg-gray-900 dark:text-white;
}

h1 {
  @apply text-4xl mt-8;
}

h2 {
  @apply text-3xl mt-8;
}

h3 {
  @apply text-2xl mt-8;
}

h4 {
  @apply text-xl mt-8;
}

h5 {
  @apply text-lg mt-8;
}

h6 {
  @apply mt-8;
}

p {
  @apply mt-8 leading-relaxed;
}

a {
  @apply underline text-black dark:text-white;

  &:hover {
    @apply no-underline;
  }
}

ul,
ol {
  @apply mt-6 list-inside;

  & li {
    @apply mb-0;
  }
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

hr {
  @apply dark:bg-gray-100;
}

blockquote {
  @apply p-4 italic;

  & p {
    @apply m-0;
  }
}

/* Slightly pull items out of the container */
.wide {
  margin-left: calc(12% - 12vw);
  margin-right: calc(12% - 12vw);
}

.wider {
  margin-left: calc(24% - 24vw);
  margin-right: calc(24% - 24vw);
}
