/**
 * Global styles.
 */
body {
  @apply dark:bg-black dark:text-gray-200;
}

form input,
form textarea {
  @apply dark:text-black;
}

a {
  @apply text-black dark:text-gray-200;

  &:hover {
    @apply no-underline;
  }
}

ul,
ol {
  @apply list-inside;

  & li {
    @apply text-xl;
  }
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

hr {
  @apply dark:bg-gray-200 mb-8;
}

blockquote {
  @apply my-2 px-4 italic clear-both border-l-4;

  & p {
    @apply m-0 leading-snug tracking-wide;
  }
}

dt {
  @apply font-bold;
}

img {
  @apply border-4 dark:border-gray-500;
}

.full-width {
  @apply relative mb-12;

  @media (min-width: 1024px) {
    left: -64px;
    width: calc(100% + 128px);
  }

  @media (min-width: 1280px) {
    left: -256px;
    width: calc(100% + 512px);
  }
}

.wide {
  @apply relative mb-12;

  @media (min-width: 768px) {
    left: -128px;
    width: calc(100% + 256px);
  }
}

.align-left {
  @apply lg:float-left lg:mt-2 lg:mr-8 lg:mb-4 lg:-ml-16;
}

.align-right {
  @apply lg:float-right lg:mt-2 lg:-mr-16 lg:mb-4 lg:ml-8;
}

.align-center {
  @apply m-auto text-center mb-4;
}

.shimmer {
  @apply bg-clip-text text-transparent dark:text-transparent;

  animation: shimmer 15s infinite linear;
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

@media (prefers-reduced-motion) {
  .shimmer {
    animation: shimmer 30s infinite linear;
  }
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
