@tailwind components;
@tailwind utilities;

a {
  @apply text-black;

  &:hover {
    @apply no-underline;
  }
}

ul,
ol {
  @apply list-inside;

  & li {
    @apply mb-0;
  }
}

.cover-image {
  margin-left: calc(12% - 12vw);
  margin-right: calc(12% - 12vw);
}

.masonry-grid {
  display: flex;
  margin-left: -2rem;
  width: auto;
}

.masonry-grid-column {
  padding-left: 2rem;
  background-clip: padding-box;
}

.masonry-grid-column > div {
  margin-bottom: 2rem;
}
