@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply underline;

    &:hover {
      @apply no-underline;
    }
  }

  pre {
    @apply p-2 dark:bg-gray-900 overflow-x-auto;

    font-size: 0.75rem;
  }
}

html,
body {
  @apply dark:bg-black dark:text-white;
}

.grid {
  display: grid;
  gap: 10px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
  }
}
