@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply max-w-7xl mx-auto dark:bg-gray-900 dark:text-gray-200 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-800 dark:text-gray-200 font-sans font-bold break-words mb-8;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl mb-2;
  }

  h4 {
    @apply text-lg mb-2;
  }

  p {
    @apply text-gray-800 dark:text-gray-200 break-words font-normal text-lg leading-relaxed mb-8;
  }

  a {
    @apply relative break-words text-blue-600 dark:text-blue-400 hover:underline;
  }

  ul,
  ol {
    @apply text-lg pl-6 pb-6;
  }

  ul {
    @apply list-disc;

    & ul {
      @apply pl-8 pb-0;

      list-style-type: circle;

      & ul {
        list-style-type: square;
      }
    }
  }

  ol {
    @apply list-decimal;
  }

  hr {
    @apply my-8 m-auto;
  }

  dt {
    @apply font-bold;
  }

  form input,
  form textarea {
    @apply dark:bg-gray-800;
  }

  blockquote {
    @apply mt-2 mb-8 px-4 italic clear-both border-l-4;

    & p {
      @apply m-0 leading-snug;
    }
  }

  pre {
    @apply shadow rounded-md;
  }

  code {
    @apply rounded-md bg-gray-300 text-sm;
  }
}

.full-width {
  @apply relative mb-12;

  @media (min-width: 1024px) {
    left: -64px;
    width: calc(100% + 128px);
  }

  @media (min-width: 1280px) {
    left: -256px;
    width: calc(100% + 512px);
  }
}

.wide {
  @apply relative mb-12;

  @media (min-width: 1024px) {
    left: -145px;
    width: calc(100% + 290px);
  }
}

.align-left {
  @apply lg:float-left lg:mt-2 lg:mr-8 lg:mb-4 lg:-ml-48;
}

.align-right {
  @apply lg:float-right lg:mt-2 lg:-mr-48 lg:mb-4 lg:ml-8;
}

.align-center {
  @apply m-auto text-center mb-4;
}

video,
.remark-oembed-inline {
  @apply mb-12;
}

.remark-highlight {
  @apply mb-10 sm:-ml-8 sm:-mr-8;
}

/* code blocks */
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  @apply bg-gray-800;
}

/* inline code not used in Prism */
:not(pre) > code {
  @apply p-1 dark:text-black;
}

.remark-oembed-inline {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: '';
    padding-top: 56.25%;
  }

  & iframe,
  & embed,
  & object,
  & video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
