@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply mx-auto max-w-7xl antialiased dark:bg-zinc-900 dark:text-zinc-200;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-8 break-words font-sans font-bold text-zinc-800 dark:text-zinc-200;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply mb-2 text-2xl;
  }

  h4 {
    @apply mb-2 text-lg;
  }

  p {
    @apply mb-8 break-words text-lg font-normal leading-relaxed text-zinc-800 dark:text-zinc-200;
  }

  a {
    @apply relative break-words text-blue-600 hover:underline dark:text-blue-400;
  }

  ul,
  ol {
    @apply pl-6 pb-6 text-lg;
  }

  ul {
    @apply list-disc;

    & ul {
      @apply pl-8 pb-0;

      list-style-type: circle;

      & ul {
        list-style-type: square;
      }
    }
  }

  ol {
    @apply list-decimal;
  }

  hr {
    @apply m-auto my-8;
  }

  dt {
    @apply font-bold;
  }

  form input,
  form textarea {
    @apply dark:bg-zinc-800;
  }

  blockquote {
    @apply clear-both mt-2 mb-8 border-l-4 px-4 italic;

    & p {
      @apply m-0 leading-snug;
    }
  }

  pre {
    @apply rounded-md shadow;
  }

  code {
    @apply rounded-md bg-zinc-300 text-sm;
  }
}

.full-width {
  @apply relative mb-12;

  @media (min-width: 1024px) {
    left: -64px;
    width: calc(100% + 128px);
  }

  @media (min-width: 1280px) {
    left: -256px;
    width: calc(100% + 512px);
  }
}

.wide {
  @apply relative mb-12;

  @media (min-width: 1024px) {
    left: -145px;
    width: calc(100% + 290px);
  }
}

.align-left {
  @apply lg:float-left lg:mt-2 lg:mr-8 lg:mb-4 lg:-ml-48;
}

.align-right {
  @apply lg:float-right lg:mt-2 lg:-mr-48 lg:mb-4 lg:ml-8;
}

.align-center {
  @apply m-auto mb-4 text-center;
}

video,
.remark-oembed-inline {
  @apply mb-12;
}

.remark-highlight {
  @apply mb-10 sm:-ml-8 sm:-mr-8;
}

/* code blocks */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  @apply bg-zinc-800;
}

/* inline code not used in Prism */
:not(pre) > code {
  @apply p-1 dark:text-black;
}

.remark-oembed-inline {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    padding-top: 56.25%;
  }

  & iframe,
  & embed,
  & object,
  & video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
